@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
    --bg-color: #f5f5f5;
    /* Light background color */
    --text-color: #333;
    /* Dark text color for contrast */
    --accent-color: #007bff;
    /* Accent color for buttons and links */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}