@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
    --bg-color: #f5f5f5;
    /* Light background color */
    --text-color: #333;
    /* Dark text color for contrast */
    --accent-color: #007bff;
    /* Accent color for buttons and links */
    --scrollbar-bg-color: #e0e0e0;
    /* Light color for the scrollbar track */
    --scrollbar-thumb-color: #007bff;
    /* Accent color for the scrollbar thumb */
    --scrollbar-thumb-hover-color: #0056b3;
    /* Darker accent color for the scrollbar thumb on hover */
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 13px;
    /* Width of the scrollbar */
    height: 13px;
    /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg-color);
    /* Background color of the scrollbar track */
    border-radius: 12px;
    /* Optional: Round the corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    /* Color of the scrollbar thumb */
    border-radius: 12px;
    /* Round the corners of the scrollbar thumb */
    border: 3px solid var(--scrollbar-bg-color);
    /* Optional: Add padding to the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
    /* Change color on hover */
}